body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 800px; /* Largura definida da área do jogo */
    height: 400px; /* Altura definida da área do jogo */
    position: relative; /* Para posicionar absolutamente o carro */
    overflow: hidden; /* Impede que o carro ultrapasse os limites */
    background-color: black; /* Adicione o fundo da área de jogo */
}

.road {
    width: 100%;
    height: 100%;
    background-image: url('rua1.gif'); /* Adicione uma imagem de estrada aqui */
    background-position: center;
    background-size: cover;
    position: relative;
}

.car {
    width: 200px; /* Ajuste o tamanho do carro conforme necessário */
    height: 200px;
    background-image: url('carro1.png'); /* Adicione uma imagem do carro aqui */
    background-size: contain;
    background-position: center;
    position: absolute;
    bottom: 20px;
    left: 50%; /* O carro começará no meio da tela horizontalmente */
}

.collision-area {
    position: absolute;
    top: 35%; /* Ajuste a posição da área de colisão conforme necessário */
    left: 25%; /* Ajuste a posição da área de colisão conforme necessário */
    width: 50%; /* Ajuste a largura da área de colisão conforme necessário */
    height: 50%; /* Ajuste a altura da área de colisão conforme necessário */
    background-color: rgba(255, 0, 0, 0.5); /* Cor semitransparente para visualização, remova depois de ajustar */
}

.hidden {
    display: none; /* Esconde o elemento */
}

.containerStart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semitransparente */
}

.startButton {
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 24px;
}

.item {
    width: 50px;
    height: 50px;
    background-color: yellow; /* Cor do item */
    position: absolute;
}

.bomb {
    background-color: red;
}