body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.container {
    width: 800px; /* Largura definida da área do jogo */
    height: 400px; /* Altura definida da área do jogo */
    margin: 50px auto; /* Centraliza a área do jogo na tela */
    position: relative; /* Para posicionar absolutamente o carro */
    overflow: hidden; /* Impede que o carro ultrapasse os limites */
}

.road {
    width: 100%;
    height: 100%;
    background-image: url('rua1.gif'); /* Adicione uma imagem de estrada aqui */
    background-position: center;
    background-size: cover;
    position: relative;
}

.car {
    width: 200px; /* Ajuste o tamanho do carro conforme necessário */
    height: 200px;
    background-image: url('carro1.png'); /* Adicione uma imagem do carro aqui */
    background-size: contain;
    background-position: center;
    position: absolute;
    bottom: 20px;
    left: 50%; /* O carro começará no meio da tela horizontalmente */
}

.hidden {
    display: none; /* Esconde o elemento */
}

.containerStart{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    align-content: center;
    overflow: show;
    top: 50px;
    width: 800px; /* Largura definida da área do jogo */
    height: 400px; /* Altura definida da área do jogo */
    background-color: red;
}

.startButton{
    position: relative;
    align-self: center;
    margin: 0;
    left: 45%;
    padding: 15px 25px 25px;
    border-radius: 5px;
    border-style: none;
}